@import './../styles/utils.scss';

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    margin: 0;
    font-family: 'chillax';
    color: $white;
    background-color: #070707;

    &::-webkit-scrollbar {
        display: none;
    }
}