@font-face {
    font-family: 'bitterRose';
    src: url('./../src/assets/fonts/Bitter\ Rose\ DEMO.otf');
}

@font-face {
    font-family: 'chillax';
    src: url('./../src/assets/fonts/Chillax-Regular.otf');
}